img{
    height: 500px;
    width: 500px;
}
body{
    text-align: center;
    background-color:pink;
}
html{
    scroll-behavior: smooth;
}
.line{
    background-color: black;
    height: 5px;
    width: 70px;
    margin: 8px auto;
}